<h1>Contact Form Submission</h1>

<p>Name: <%= @name %></p>
<p>Email_address: <%= @email_address %></p>
<p>Phone_number: <%= @phone_number %></p>
<p>Question: <%= @question %></p>
<p>Contact Type: <%= @contact_type %></p>
<p>Product Selected: <%= @product_selected %></p>
<p>Subscribed: <%= @subscribed %></p>
<p>Notify: <%= @notify %></p>