<!--<h1>Page#home</h1>
<p>Find me in app/views/page/home.html.erb</p>-->

<div class="hero-full-wrapper">
  <div class="grid">
    <div class="gutter-sizer"></div>
    <div class="grid-sizer"></div>

    <div class="grid-item">
      <%= image_tag("img-12.jpg", class: "img-responsive", alt: "") %>
      <!--<img class="img-responsive" alt="" src="./assets/images/img-12.jpg">-->
      <%= link_to({controller: "page", action: "project"}, class: "project-description") do %>
          <div class="project-text-holder">
            <div class="project-text-inner">
              <h3>Vivamus vestibulum</h3>
              <p>Discover more</p>
            </div>
          </div>
      <% end %>
      <!--<a href="./project.html" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>Vivamus vestibulum</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>-->
    </div>


    <div class="grid-item">
      <%= image_tag("img-05.jpg", class: "img-responsive", alt: "") %>
      <!--<img class="img-responsive" alt="" src="./assets/images/img-05.jpg">-->
      <%= link_to({controller: "page", action: "project"}, class: "project-description") do %>
          <div class="project-text-holder">
            <div class="project-text-inner">
              <h3>Vivamus vestibulum</h3>
              <p>Discover more</p>
            </div>
          </div>
      <% end %>
      <!--<a href="./project.html" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>Vivamus vestibulum</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>-->
    </div>

    <div class="grid-item">
      <%= image_tag("img-13.jpg", class: "img-responsive", alt: "") %>
      <!--<img class="img-responsive" alt="" src="./assets/images/img-13.jpg">-->
      <%= link_to({controller: "page", action: "project"}, class: "project-description") do %>
          <div class="project-text-holder">
            <div class="project-text-inner">
              <h3>Vivamus vestibulum</h3>
              <p>Discover more</p>
            </div>
          </div>
      <% end %>
      <!--<a href="./project.html" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>Vivamus vestibulum</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>-->
    </div>
    <div class="grid-item">
      <%= image_tag("img-04.jpg", class: "img-responsive", alt: "") %>
      <!--<img class="img-responsive" alt="" src="./assets/images/img-04.jpg">-->
      <%= link_to({controller: "page", action: "project"}, class: "project-description") do %>
          <div class="project-text-holder">
            <div class="project-text-inner">
              <h3>Vivamus vestibulum</h3>
              <p>Discover more</p>
            </div>
          </div>
      <% end %>
      <!--<a href="./project.html" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>Vivamus vestibulum</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>-->
    </div>

    <div class="grid-item">
      <%= image_tag("img-07.jpg", class: "img-responsive", alt: "") %>
      <!--<img class="img-responsive" alt="" src="./assets/images/img-07.jpg">-->
      <%= link_to({controller: "page", action: "project"}, class: "project-description") do %>
          <div class="project-text-holder">
            <div class="project-text-inner">
              <h3>Vivamus vestibulum</h3>
              <p>Discover more</p>
            </div>
          </div>
      <% end %>
      <!--<a href="./project.html" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>Vivamus vestibulum</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>-->
    </div>

    <div class="grid-item">
      <%= image_tag("img-11.jpg", class: "img-responsive", alt: "") %>
      <!--<img class="img-responsive" alt="" src="./assets/images/img-11.jpg">-->
      <%= link_to({controller: "page", action: "project"}, class: "project-description") do %>
          <div class="project-text-holder">
            <div class="project-text-inner">
              <h3>Vivamus vestibulum</h3>
              <p>Discover more</p>
            </div>
          </div>
      <% end %>
      <!--<a href="./project.html" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>Vivamus vestibulum</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>-->
    </div>

    <div class="grid-item">
      <%= image_tag("img-10.jpg", class: "img-responsive", alt: "") %>
      <!--<img class="img-responsive" alt="" src="./assets/images/img-10.jpg">-->
      <%= link_to({controller: "page", action: "project"}, class: "project-description") do %>
          <div class="project-text-holder">
            <div class="project-text-inner">
              <h3>Vivamus vestibulum</h3>
              <p>Discover more</p>
            </div>
          </div>
      <% end %>
      <!--<a href="./project.html" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>Vivamus vestibulum</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>-->
    </div>
    <div class="grid-item">
      <%= image_tag("img-03.jpg", class: "img-responsive", alt: "") %>
      <!--<img class="img-responsive" alt="" src="./assets/images/img-03.jpg">-->
      <%= link_to({controller: "page", action: "project"}, class: "project-description") do %>
          <div class="project-text-holder">
            <div class="project-text-inner">
              <h3>Vivamus vestibulum</h3>
              <p>Discover more</p>
            </div>
          </div>
      <% end %>
      <!--<a href="./project.html" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>Vivamus vestibulum</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>-->
    </div>

  </div>
</div>
