<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="Page description" name="description">
  <meta name="google" content="notranslate"/>
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <!--<link href="./assets/apple-icon-180x180.png" rel="apple-touch-icon">-->
  <!--<link href="./assets/favicon.ico" rel="icon">-->


  <title>LayoutsHtmlToRails</title>

  <!--<link href="./main.82cfd66e.css" rel="stylesheet">-->

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


</head>

<body>

<header class="">
  <%= render 'shared/nav' %>
</header>

<main class="" id="main-collapse">

  <% if user_signed_in? %>
      <p class="text_right">Welcome <%= current_user.name %> (<%= current_user.email %>)</p><br/>
  <% end %>


  <% if flash[:error] != nil %>
      <% flash[:error].each do |msg| %>
          <%= content_tag :div, msg, class: "error" %>
      <% end %>
  <% end %>

  <% if notice %>
      <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
      <p class="alert"><%= alert %></p>
  <% end %>


  <%= yield %>


  <script>
      /*document.addEventListener("DOMContentLoaded", function (event) {
          masonryBuild();
      });*/
      document.addEventListener("turbolinks:load", function (event) {
          masonryBuild();
      });
  </script>

</main>

<script>
    document.addEventListener("turbolinks:load", function (event) {
        navbarToggleSidebar();
        navActivePage();
    });
</script>


<!--<script type="text/javascript" src="./main.85741bff.js"></script>-->
<%= javascript_include_tag "main.85741bff.js", type: "text/javascript" %>


</body>
</html>
